{%extends 'base1/main.html'%}
{% load static %}
{% block content%}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}


.wrapper .header{
	margin-top: 2vh;
	width: 100%;
	height: 50px;
	background: #e36686;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: #fff;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #e36686;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{

	color: #3f4343 !important;
	font-size: 15px;
	font-weight:400;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #545a61;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

a{
    /* text-decoration: none; */
    color: #b6c0c2;
	font-size: 15px;
	margin: 5px 0 10px;
    

}
h2 {
    margin-left: 5vh;
}
</style>

<div class="wrapper">
    <h2 >Notes for: {{sub_code}}</h2>
	<div class="cards_wrap">
        {% for note in notes%}
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static 'images/pdf.png' %}">
				<div class="role_name">{{note}}</div>
				<div class="real_name">{{note.prof}}</div>
                <div class="film"> <strong>Ideal Index</strong> : {{note.ideal_index}}</div>
                <div class="film"> <strong>Uploaded On</strong> : {{note.upload_date}}</div>
                <div class="film"><a href="{{note.note.url}}" target="_blank" > <strong>View</strong></a></div>
                <div class="film"><a href="{{note.note.url}}" download target="_blank"><strong>Download</strong></a></div>


				<!-- <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div> -->
			</div>
		</div>
        {% endfor %}
		

	</div>


    <h2>Assignments for: {{sub_code}}</h2>

    <div class="cards_wrap">
        {% for assignment in assignments%}
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static 'images/pdf.png' %}">
				<div class="role_name">{{assignment}}</div>
				<div class="real_name">{{assignment.prof}}</div>
                <div class="film"> <strong>Length of assignment</strong> : {{assignment.length}}</div>
                <div class="film"> <strong>Date of submission</strong> : {{assignment.l_submission}}</div>
                <div class="film"><a href="{{assignment.assignment.url}}" target="_blank" > <strong>View</strong></a></div>
                <div class="film"><a href="{{assignment.assignment.url}}" download target="_blank"><strong>Download</strong></a></div>


				<!-- <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div> -->
			</div>
		</div>
        {% endfor %}

	</div>

    <h2>Question papers for: {{sub_code}}</h2>


    <div class="cards_wrap">
        {% for qPaper in qPapers%}
		<div class="card_item">
			<div class="card_inner">
				<img src="{% static 'images/pdf.png' %}">
				<div class="role_name">{{qPaper}}</div>
				<div class="real_name"></div>
                <div class="film"> <strong>Date of Exam</strong> : {{qPaper.date}}</div>
                <!-- <div class="film"> <strong>Date of submission</strong> : {{assignment.l_submission}}</div> -->
                <div class="film"><a href="{{qPaper.questionPaper.url}}" target="_blank" > <strong>View</strong></a></div>
                <div class="film"><a href="{{qPaper.questionPaper.url}}" download target="_blank"><strong>Download</strong></a></div>


				<!-- <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div> -->
			</div>
		</div>
        {% endfor %}

	</div>
</div>  




{%endblock %}


{% for note in notes%}
{{note}}
<a href="{{note.note.url}}" download>link</a>

<br>
{% endfor %}
<p>working </p>

<br>

{% for assignment in assignments %}
{{assignment}}
{% endfor %}
<p>working </p>

<br>

{% for qPaper in qPapers %}
{{qPaper}}
{% endfor %}
<p>working </p>

<br>